body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.home-container {
  background-image: url('../src/assets/ingredients_background.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

@media (max-width: 768px) {
  .home-container {
    background-image: url('../src/assets/ingredients_background_mobile.jpg');
    background-size: 110vh;
    background-position: center;
    min-height: 100vh;
  }

  .button-container {
    flex-direction: column;
    align-items: center;
  }

  .circular-button {
    width: 150px;
    height: 150px;
  }

  .title-under {
    font-size: 1.5rem;
    margin-top: 100px;
  }

  .higher-buttons {
    margin-top: 10px;
  }
}

.circular-button {
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-size: 200%; /* Ensure the image covers the entire button */
  background-repeat: no-repeat;
  border: none;
}

.bg-yellow {
  background-color: #FFC107 !important;
}

.higher-buttons {
  margin-top: 20px; /* Adjust this value to set how much higher you want the buttons */
}

.title-under {
  margin-top: 150px; /* Adjust this value to set how much higher you want the buttons */
}

.btn-1 {
  background-position: center; /* Center the background image */
}

.btn-2 {
  background-position: center; /* Center the background image */
}

.btn-3 {
  background-position: center; /* Center the background image */
}